body {
  font-family: sans-serif;
  text-align: center;
}

#janken {
  margin-bottom: 20px;
}

#janken button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
}

#rouletteButton {
  font-size: 20px;
  padding: 10px 20px;
}

#rouletteCanvas {
  border: 1px solid black;
  margin-bottom: 20px;
}
#startButton {
  font-size: 20px; /* 文字サイズを少し大きめに */
  padding: 10px 20px; /* ボタンの余白（縦・横）を調整 */
  margin: 0 10px;
  border: none; /* ボーダーを消す */
  border-radius: 10px; /* 角を少し丸く */
  cursor: pointer; /* マウスを当てたらポインター表示 */
}
